<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="find the local music scene">
    <meta name="author" content="Jamroom">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Jamroom</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="assets/fonts/MyFontsWebfontsKit.css">

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
    

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <!-- <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Jamroom</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#home" class="smothscroll">Home</a></li>
	            <li><a href="#desc" class="smothscroll">Description</a></li>
	            <!-- <li><a href="#showcase" class="smothScroll">Showcase</a></li> -->
	           <!--  <li><a href="#contact" class="smothScroll">Contact</a></li>
	          </ul>
	        </div><!--/.nav-collapse 
	      </div>
	    </div> -->


	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<!-- <div class="header-logo">Jamroom</div> -->
				<div class="jamroom-logo">
					<img src="https://s3.amazonaws.com/jamroombucket/jamroom+logo+400+width.png" width="225px">
				</div>
					<h3>find the local music scene</h3>
					<br/><br/>
	    		</div>
	    	</div>	
	    	<div class="row centered">
	    		<div class="col-lg-12">
	    			<img class="img-responsive" src="https://s3.amazonaws.com/jamroombucket/Landing+page+screenshot+4.png" alt="">
	    		</div>
	    	</div>
	    		
	    	
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Local Music Discovery, Simplified</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="https://s3.amazonaws.com/jamroombucket/landing+page+listener+icon.png" alt="">
					<h3>Fans</h3>
					<p>Find new music and support the bands you already know and love. Find the next great show!</p>
				</div>
				<div class="col-lg-4">
					<img src="https://s3.amazonaws.com/jamroombucket/landing+page+artist+icon.png" alt="">
					<h3>Artists</h3>
					<p>Get discovered by local venues and get hired for shows. Create new fans for life and promote your band, all for free!</p>
				</div>
				<div class="col-lg-4">
					<img src="https://s3.amazonaws.com/jamroombucket/landing+page+venue+icon.png" alt="">
					<h3>Venues</h3>
					<p>Leave the dirty work to us. We bring listeners and artist together and get them in your door. </p>
				</div>
			</div>
			<br>
	    </div> <!--/ .container -->
	    <hr>
	</div><!--/ #introwrap -->
	
	<!-- FEATURES WRAP -->
	<div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">For the People, By the People</h1>
				<br>
				<br>
				<div class="col-lg-6 centered">
					<img class="centered" src="https://s3.amazonaws.com/jamroombucket/iPhone+Photo+Landing+Page+Sunghosts.png" alt="" width="300px">
				</div>
				
				<div class="col-lg-6">
					<h3>Local Music Only! No Lady Gaga around here!</h3>
					<br>
				<!-- ACCORDION -->
		            <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="" data-parent="#accordion2"> <!-- removed "collapse" from data-toggle -->
		                        User Powered
		                        </a>
		                    </div><!-- /accordion-heading -->
		                    <div id="collapseOne" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>From listener to artist to venue, everyone has the ability to submit local acts. With the help of the community, Jamroom is able to provide the most comprehensive directory of local music, anywhere!</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="" data-parent="#accordion2"><!-- removed "collapse" from data-toggle -->
		                        #Trending
		                        </a>
		                    </div>
		                    <div id="collapseTwo" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>See who’s trending locally with upvotes submitted by actual members like you. Help your friends or your band get discovered by uploading show dates and promoting yourself through Jamroom, for free!</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>
		
		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="" data-parent="#accordion2"><!-- removed "collapse" from data-toggle -->
		                        Meet Local Music Lovers Like You
		                        </a>
		                    </div>
		                    <div id="collapseThree" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>See what other locals are listening to and the shows they plan to attend. Coordinating is easy and you will always have a friend to check out a show with! </p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                
		                
		                
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <br>			
					</div><!-- Accordion -->
				</div> 
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->
	<!-- <br>
	<hr>


	<!-- <div id="features">
		<div class="container">
			<div class="row">
				<h1 class="centered">Who's Playing Tonight?</h1>
				<br>
				<br>
			

			<div class="col-lg-6">
					<h3>Gone are the days of looking through your local fringe newspaper for the the latest on whos playing tonight in your local music scene. </h3>
					<br>
				<!-- ACCORDION -->
		          <!--  <div class="accordion ac" id="accordion2">
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="" data-parent="#accordion2"> <!-- removed "collapse" from data-toggle -->
		                        <!-- Shows Today, Shows Tomorrow
		                        </a>
		                    </div><!-- /accordion-heading -->
		                    <!-- <div id="collapseOne" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>Never miss a show with a daily view calendar displayed directly on the homepage. Take a look into the future with a calendar featuring all upcoming shows and information for pre-sale ticekting. </p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <!-- <br>
		
		                <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="" data-parent="#accordion2"><!-- removed "collapse" from data-toggle -->
		                        <!-- Ticketing Made Easy
		                        </a>
		                    </div>
		                    <div id="collapseTwo" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>With Jamroom’s special partnership with local venue owners, we are able to provide the easiest and most efficient ticketing experience at the lowest price anywhere, guaranteed!</p>
								</div><!-- /accordion-inner -->
		                    </div><!-- /collapse -->
		                </div><!-- /accordion-group -->
		                <!-- <br>
		
		                 <div class="accordion-group">
		                    <div class="accordion-heading">
		                        <a class="accordion-toggle" data-toggle="" data-parent="#accordion2"><!-- removed "collapse" from data-toggle -->
		                        <!-- Meet Local Music Lovers Like You
		                        </a>
		                    </div>
		                    <div id="collapseThree" class="accordion-body collapse in">
		                        <div class="accordion-inner">
								<p>Share your passion for local music with others in your area with your special user profile complete with shows attended, shows uploaded and shows upvoted. Jamroom members enjoy exclusive deals at local bars and restaraunts. All this and more is included with your free membership!</p>
								</div><!-- /accordion-inner -->
		                    <!-- </div><!-- /collapse -->
		                <!-- </div><!-- /accordion-group -->
		                <!-- <br>			
					</div><!-- Accordion -->
				<!-- </div>

		            
		                <div class="col-lg-6 centered">
							<img class="img-responsive-macbook" src="https://s3.amazonaws.com/jamroombucket/Macbook+Mockup+-+Whos+playing+tonight.png" alt="" width="">
					    </div>
					
			  	</div> 
			</div> <!--/ .row -->
		<!-- </div> <!--/ .container -->
	<!-- </div> <!--/ #features --> 

	
	<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			
		<div class="outer-contact">
			<div class="col-sm-12">
				<h3>Want Early Access?</h3>
				<br>

<div class="contactForm">				
<form action='//nelson588.activehosted.com/proc.php' method='post' id='_form_1012' accept-charset='utf-8' enctype='multipart/form-data'>
  <input type='hidden' name='f' value='1012'>
  <input type='hidden' name='s' value=''>
  <input type='hidden' name='c' value='0'>
  <input type='hidden' name='m' value='0'>
  <input type='hidden' name='act' value='sub'>
  <input type='hidden' name='nlbox[]' value='1'>
  <div class='_form'>
    <div class='formwrapper'>
      <div id='_field42'>
        <div id='compile42' class='_field _type_radio'>
          <div class='_label '>
            Which of these best describes you?
          </div>
          <div class='_option'>
            <div>
              <label>
                <input type='radio' name='field[1]' value='Fan' >
                Fan
              </label>
            </div>
            <div>
              <label>
                <input type='radio' name='field[1]' value='Artist' >
                Artist
              </label>
            </div>
            <div>
              <label>
                <input type='radio' name='field[1]' value='Venue' >
                Venue
              </label>
            </div>
          </div>
        </div>
      </div>
      <div id='_field39'>
        <div id='compile39' class='_field _type_input'>
          <div class='_label '>
            Full Name
          </div>
          <div class='_option'>
            <input type='text' name='fullname' >
          </div>
        </div>
      </div>
      <div id='_field40'>
        <div id='compile40' class='_field _type_input'>
          <div class='_label '>
            Email *
          </div>
          <div class='_option'>
            <input type='email' name='email' >
          </div>
        </div>
      </div>
      <div id='_field41'>
        <div id='compile41' class='_field _type_input'>
          <div class='_option'>
            <input type='submit' value="Submit">
          </div>
        </div>
      </div>
    </div>
    <div class="preview_part">
      <div id="notice">
        <a href="http://www.activecampaign.com/" title="email marketing" target="_blank">email marketing</a>
        by activecampaign
      </div>
    </div>
  </div>
</form>
</div>
			



  
		

			</div>
		  </div>
		</div>
	</div>
	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="assets/js/bootstrap.js"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script> -->
  </body>
</html>
